// fontes
$fonte:'roboto', sans-serif;

// Cores
$cor-primaria:#016A70;
$cor-secundaria:#657605;
$cor-terciaria:rgb(236, 188, 128);
$cor-enviar:#ffffff;

// Tamanho das fontes
$tamanho-do-texto:3rem;